<include href="views/header.html"></include>
<body>
    <include href="views/navbar.html"></include>

    <div class="container py-4">
        <h1>{{ @playlist->getName() }}</h1>
        <table id="songData" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Song</th>
                    <th>Artist</th>
                    <th>Genre</th>
                    <th>Song Duration</th>
                    <th>Release Year</th>
                </tr>
            </thead>
            <tfoot>
                <i class="bi bi-plus"></i>
            </tfoot>
        </table>
    </div>
    <include href="views/footer.html"></include>
    <script>
        function handleApi() {
            $('button').click(function (event) {
                const target = event.target;
                const path = event.target.getAttribute('data-path');
                $.ajax(path).done(function () {
                    if (target.innerText === "Add") {
                        event.target.innerText = "Remove";
                        event.target.setAttribute('data-path', path.replace('add', 'remove'));
                    } else {
                        if ("{{ @PATH }}" === "/") {
                            const table = $('#songData').DataTable();
                            table.ajax.reload(handleApi, false);
                        } else {
                            event.target.innerText = "Add";
                            event.target.setAttribute('data-path', path.replace('remove', 'add'));
                        }
                    }
                });
            });
        }

        $(document).ready(function () {
            $('#songData').DataTable({
                <check if="{{ substr(@PATH, 0, strlen(@PATH)) === '/' }}">
                    searching: false,
                </check>
                lengthChange: false,
                ajax: '{{ @BASE }}/ajax',
                stateSave: true,
                initComplete: handleApi
            });
        })
    </script>
</body>
</html>
