<include href="views/header.html"></include>
<body>
    <include href="views/navbar.html"></include>

    <div class="container py-4">
        <h1>{{ @playlist->getName() }}</h1>
        <table id="songData" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Song</th>
                    <th>Artist</th>
                    <th>Genre</th>
                    <th>Song Duration</th>
                    <th>Release Year</th>
                </tr>
            </thead>
            <tfoot>
                <i class="bi bi-plus"></i>
            </tfoot>
        </table>
    </div>
    <include href="views/footer.html"></include>
    <script>
        $(document).ready(function () {
            $('#songData').DataTable({
                <check if="{{ substr(@PATH, 0, strlen(@PATH)) === '/' }}">
                    searching: false,
                </check>
                lengthChange: false,
                ajax: '{{ @BASE }}/dataTableProcessing'
            });
        })
    </script>
</body>
</html>
