<include href="views/header.html"></include>
<body>
    <include href="views/navbar.html"></include>
    <div class="container">
        <form method="post" class="form-horizontal box">
            <h1>Login</h1>
            <input type="text" name="username" placeholder="Username" value="{{ @POST.username }}">
            <check if="{{ isset(@errors['username']) }}">
                <small class="text-danger">{{ @errors['username'] }}</small>
            </check>
            <input type="password" autocomplete="off" name="password" placeholder="Password" value="{{ @POST.password }}">
            <check if="{{ isset(@errors['password']) }}">
                <small class="text-danger">{{ @errors['password'] }}</small>
            </check>
            <div class="row">
                <div class="col">
                    <input type="submit" class="loginButtons" value="Login">
                </div>
                <div class="col">
                    <a type="submit" class="loginButtons" href="register">Register</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
