<include href="views/header.html"></include>
<body>
    <include href="views/navbar.html"></include>
    <include href="views/footer.html"></include>

    <div class="container">
        <form method="post" class="form-horizontal box">
                <h1>Login</h1>
                <input type="text" name="username" placeholder="Username" value="{{ @temp_username }}">
                <check if="{{ isset(@errors['username']) }}">
                    <small class="text-danger">{{ @errors['username'] }}</small>
                </check>
                <input type="password" name="password" placeholder="Password" value="{{ @temp_password }}">
                <check if="{{ isset(@errors['password']) }}">
                    <small class="text-danger">{{ @errors['password'] }}</small>
                </check>
                <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
