<include href="views/header.html"></include>
<body>
    <include href="views/navbar.html"></include>
    <include href="views/footer.html"></include>

    <div class="container">
        <form action="#" method="post" class="form-horizontal box">
                <h1>Login</h1>
                <input type="text" name="" placeholder="Username">
                <input type="password" name="" placeholder="Password">
                <input type="submit" name="" value="Login">
        </form>
    </div>
</body>
</html>
