<include href="views/header.html"></include>
<body>
    <include href="views/navbar.html"></include>
    <div class="container">
        <form method="post" class="form-horizontal box box-register">
            <h1>Sign up</h1>
            <input type="text" name="username" placeholder="Username" value="{{ @POST.username }}">
            <check if="{{ isset(@errors['username']) }}">
                <small class="text-danger">{{ @errors['username'] }}</small>
            </check>
            <input type="password" name="password" placeholder="Password" value="{{ @POST.password }}">
            <check if="{{ isset(@errors['password']) }}">
                <small class="text-danger">{{ @errors['password'] }}</small>
            </check>
            <input type="text" name="email" placeholder="Email" value="{{ @POST.email }}">
            <check if="{{ isset(@errors['email']) }}">
                <small class="text-danger">{{ @errors['email'] }}</small>
            </check>
            <input type="submit" class="loginButtons" value="Register">
        </form>
    </div>
    <include href="views/footer.html"></include>
</body>
</html>
